@font-face {
  font-family: "roboto";
  src: url("fonts/roboto.woff2") format("woff2"),
    url("fonts/roboto.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/robotomedium.woff2") format("woff2"),
    url("fonts/robotomedium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "roboto";
  src: url("fonts/robotobold.woff2") format("woff2"),
    url("fonts/robotobold.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

.site-wrapper {
  min-width: 1200px;
  background-color: #849d8f;
  background-image: url("../img/slider-ice-1.png");
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
  /* Для демонстрации */
  min-height: 100vh;
}

.site-wrapper::before,
.site-wrapper::after {
  content: "";
  visibility: hidden;
}

.site-wrapper::before {
  background-image: url("../img/slider-ice-2.png");
}

.site-wrapper::after {
  background-image: url("../img/slider-ice-3.png");
}

.slider {
  position: relative;
  padding-top: 321px;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  display: none;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 800;
}

.button {
  display: inline-block;
  padding: 12px 44px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
  vertical-align: top;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 50px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  border: none;
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-controls {
  position: absolute;
  bottom: 63px;
  left: 0;
  z-index: 20;
  font-size: 0;
}

.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

#product-1:checked~.site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/slider-ice-1.png");
}

#product-2:checked~.site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/slider-ice-2.png");
}

#product-3:checked~.site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/slider-ice-3.png");
}

#product-1:checked~.site-wrapper #slide1,
#product-2:checked~.site-wrapper #slide2,
#product-3:checked~.site-wrapper #slide3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#product-1:checked~.site-wrapper label[for="product-1"],
#product-2:checked~.site-wrapper label[for="product-2"],
#product-3:checked~.site-wrapper label[for="product-3"] {
  background-color: #ffffff;
}

.page-body {
  padding: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.page-body--inner-page {
  background-color: #849d8f;
}

.convert {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 27px;
  padding-right: 27px;
  position: relative;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.text {
  font-family: roboto, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: left;
  color: #323232;
  padding-top: 0px;
  margin-top: 0px;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%
}

.header__column-left {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.logo {}

.navigation__logo {}

.navigation-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 0px;
  padding-left: 0px;
}

.navigation-list__item {
  padding-left: 20px;
  position: relative;
}

.navigation-list__link {
  font-family: roboto, arial, sans-serif;
  color: white;
  font-weight: 900;
  font-size: 16px;
  text-decoration: none;
  line-height: 22px;
  display: block;
  text-align: left;
  background-color: transparent;
  border-radius: 50px;
  padding: 5px;
}

.navigation-list__link:hover {
  background-color: white;
  color: black;
}

.navigation-list__link:active {
  background-color: white;
  color: black;
  box-shadow: inset 0px 2px 1px 1px #696969;
}

.navigation-list__link--current {
  background-color: #d07058;
}

.nested-list {
  position: absolute;
  left: -5px;
  top: 30px;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  border-radius: 5px;
  clip: auto;
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  overflow: hidden;
  z-index: 1;
}

.navigation-list__item>.navigation__nested-list {
  display: none;
}

.navigation-list__item:hover>.navigation__nested-list {
  display: flex;
}

.navigation__nested-list {}

.nested-list__item {
  display: block;
}

.nested-list__link {
  display: block;
  font-family: roboto, arial, sans-serif;
  color: black;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  line-height: 16px;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
}

.nested-list__link:hover {
  background-color: #fbded7;
}

.nested-list__link:active {
  background-color: #d07058;
}

.nested-list__link--heading {
  font-weight: 900;
}

.nested-list__link--heading::after {
  content: "";
  display: block;
  height: 1px;
  background-color: #d1d0ce;
  margin-left: 6px;
  margin-right: 6px;
}

.user-navigation {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-navigation__item {
  display: block;
  margin-left: 10px;
  position: relative;
}

.user-navigation__icon {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  padding: 10px;
  color: white;
  text-decoration: none;
  text-align: center;
  border-style: none;
  font-family: roboto, arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
}

.user-navigation__icon:hover {
  color: black;
  background-color: rgba(255, 255, 255, 1);
}

.user-navigation__popup-form {
  top: 30px;
  left: -5px;
}

.popup-form {
  display: flex;
  background-color: #f8f7f4;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px;
  border-color: #d3d3d2;
  position: absolute;
  z-index: 1;
}

.user-navigation__item>.user-navigation__popup-form {
  display: none;
}

.user-navigation__item:hover>.user-navigation__popup-form {
  display: flex;
}

.search-form {}

.input {
  padding: 10px;
  border-radius: 5px;
  border-color: #d3d3d2;
  border-style: solid;
  border-width: 1px;
  box-shadow: none;
  font-family: roboto, arial, sans-serif;
  color: #999999;
  font-weight: 300;
  font-size: 14px;
  text-decoration: none;
  line-height: 24px;
  background-color: white;
}

.search-form__input {}

.search-form__button {}

.user-navigation__icon--login {}

.form-login {}

.user-navigation__form-login {}

.form-login__input {}

.button {
  display: inline-block;
  background-image: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
  color: white;
  font-family: roboto, arial, sans-serif;
  font-weight: 900;
  font-size: 18px;
  text-decoration: none;
  line-height: 24px;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 50px;
  text-align: center;
  border: none;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);
  -moz-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -webkit-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
  -ms-transform: matrix(1.04013375779322, 0, 0, 1.04013375779322, 0, 0);
}

.form-login__button {}

.form-login__wrapper {}

.form-login__wrapper--right {}

.link {
  font-family: roboto, arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  text-decoration: underline;
  line-height: 18px;
  text-align: center;
  color: white;
}

.link:hover {
  color: #ffbc9e;
}

.link:active {
  color: #ffbc9e;
}

.popup-form__link {
  color: black;
  font-weight: 300;
  font-size: 13px;
}

.shopping-cart-icon {}

.shopping-cart-icon--full {}

.shopping-cart-nested__list {
  list-style: none;
  position: relative;
}

.shopping-cart-nested__list:last-child::after {
  content: "";
  display: block;
  position: absolute;
  background-color: #cacac7;
  height: 1px;
}

.shopping-cart-nested__cost {
  font-size: 15px;
  font-weight: 900;
  text-align: right;
}

.shopping-cart-nested__description {
  font-size: 13px;
}

.shopping-cart-nested__quantity {
  font-size: 13px;
}

.shopping-cart-nested__price {
  font-size: 13px;
  color: #999999;
}

.shopping-cart-nested__cost {
  font-size: 13px;
}

.contacts {}

.header-contacts {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.header-contacts__text {
  font-weight: 900;
  font-size: 14px;
  color: inherit;
}

.telephone {
  font-family: roboto, arial, sans-serif;
  text-decoration: none;
  font-size: 22px;
  font-weight: 900;
  color: inherit;
}

.main {}

.slide-title {
  font-family: roboto, arial, sans-serif;
  font-size: 60px;
  font-weight: 900;
  line-height: 60.35px;
  color: white;
}

.slide-button {
  width: 280px;
  align-self: center;
  font-size: 32px;
  font-weight: 900;
  line-height: 44px;
}

.stock {
  margin-top: 30px;
}

.stock__list {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.stock-item {
  width: 560px;
  min-height: 230px;
  padding: 20px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stock-item--raspberries {
  background-image: url("../img/background-raspberries.jpg");
}

.stock-item--chocolate {
  background-image: url("../img/background-chocolate.jpg");
}

.stock-item__title {
  font-family: roboto, arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
  line-height: 41px;
  color: white;
  text-align: left;
  margin-top: 0px;
}

.stock-item__text {
  font-family: roboto, arial, sans-serif;
  font-size: 18px;
  font-weight: 900;
  line-height: 22px;
  color: white;
  text-align: left;
}

.stock-item__button {
  align-self: flex-end;
  text-shadow: none;
}

.catalog {
  margin-top: 50px;
}

.calalog-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0px;
}

.catalog-item {
  margin: 0;
  padding: 0;
  width: 267px;
  min-height: 480px;
  position: relative;
}

.catalog-item__title {
  margin-top: 300px;
}

.catalog-item__link {
  text-align: center;
  display: block;
}

.catalog-item__image {
  position: absolute;
  top: 0px;
}

.catalog-item__flag {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: white;
  background-image: url("../img/hit.svg");
  background-repeat: no-repeat;
  font-size: 0px;
}

.catalog-item__price {
  font-family: roboto, arial, sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 45px;
  color: white;
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 1;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
  display: flex;
  flex-direction: row;
  align-items: baseline;
  position: absolute;
  top: 100px;
  left: 0px;
}

.catalog-item__price--measure {
  font-size: 30px;
  position: relative;
  padding-left: 30px;
}

.catalog-item__price--measure::before {
  content: "";
  background-image: url("../img/ruble.svg");
  background-position: center;
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 30px;
  height: 33px;
  -webkit-svg-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

/*Разобраться с тенюшечкой.*/
.catalog-item__container {
  display: none;
  width: 100%;
  text-align: center;
  z-index: 4;
}

.catalog-item:hover {
  z-index: 2;
}

.catalog-item:hover>.catalog-item__container {
  display: block;
  z-index: 6;
}

.catalog-item:hover>.catalog-item__container::after {
  display: block;
  position: absolute;
  content: "";
  width: 295px;
  height: 405px;
  background-color: rgba(255, 255, 255, 0.2);
  top: -10px;
  left: -15px;
  z-index: -1;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.catalog-item__button {
  display: inline-block;
  text-align: center;
  text-shadow: none;
}

.catalog-item__container::after {
  content: "";
  display: block;
}

.advantages {
  background-color: #e8d3ad;
  background-image: url("../img/pattern-waffle.jpg");
  border-radius: 10px;
  padding: 20px;
}

.advantages__description {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
}

.advantages-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.advantages-item {
  width: 540px;
  padding-left: 60px;
  position: relative;
}

.advantages-item::before {
  content: "";
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
}

.advantages-item--ice-cream::before {
  background-image: url("../img/ice-cream.svg");
}

.advantages-item--cow::before {
  background-image: url("../img/cow.svg");
}

.advantages-item--eco::before {
  background-image: url("../img/eco.svg");
}

.advantages-item--thermometer::before {
  background-image: url("../img/thermometer.svg");
}

.advantages-list:nth-child(4)::before {
  content: "";
  width: 62px;
  height: 62px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/thermometer.svg");
}

.advantages-item__text {}

.news {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.news__item {
  width: 560px;
}

.news-article {
  background-color: white;
  background-image: url("../img/article-illustration.jpg");
  background-repeat: no-repeat;
  background-position: 40% 50%;
  border-radius: 10px;
  padding: 20px;
}

.news-article__title {
  font-family: roboto, arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 45px;
  color: white;
  text-align: left;
  color: #323232;
}

.news-article__link {
  font-size: 24px;
  font-weight: 900;
  color: #323232;
  line-height: 22px;
}

.subscription {
  background-color: #f8f7f4;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.subscription-conteiner {
  background-image: url("../img/bg-post.svg");
  border-radius: 20px;
  padding: 10px;
}

.subscription__button {
  align-self: flex-end;
  text-shadow: none;
}

.subscription__text {}

.contacts {
  position: relative;
  display: block;
}

.contacts-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: white;
  width: 300px;
  padding-top: 30px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 30px;
  border-radius: 15px;
  right: 0px;
}

.contacts__text {}

.contacts__text--address {
  font-size: 18px;
  font-weight: 900;
  font-style: normal;
}

.contacts__button {
  text-shadow: none;
}

.map {}

.contacts__map {}

.page-footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-list {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  height: 60px;
}

.social-item {
  padding: 0px;
  margin: 0px;
  margin-left: 10px;
}

.social-item__link {
  display: block;
  width: 32px;
  height: 32px;
  border: solid 2px #c2cec7;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.social-item__link--twitter {
  background-image: url("../img/twitter.svg");
}

.social-item__link--instagram {
  background-image: url("../img/instagram.svg");
}

.social-item__link--facebook {
  background-image: url("../img/fb.svg");
}

.social-item__link--vkontakte {
  background-image: url("../img/vk.svg");
}

.legal-list {
  display: flex;
  flex-direction: column;
  margin: 0px;
  list-style: none;
  padding: 0px;
  height: 50px;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-left: 100px;
}

.legal-item {
  display: block;
  padding-left: 30px;
}

.legal-item__link {
  font-size: 13px;
  line-height: 18px;
  font-weight: 300;
  display: block;
  text-align: left;
}

.legal-item__link--accent {
  font-weight: 900;
  position: relative;
  display: block;
}

.legal-item__link--accent::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: -20px;
  width: 15px;
  height: 15px;
  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.copyright {
  margin-left: auto;
}

.copyright__logo-link {}

.copyright__logo {}

.copyright__text {
  font-size: 13px;
  line-height: 18px;
  color: white;
}

.copyright__link {
  font-size: inherit;
  line-height: inherit;
  color: inherit;
}

.paginator {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.paginator-item__link {
  display: block;
  font-family: roboto, arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  color: white;
  text-decoration: none;
  min-width: 26px;
  border-radius: 13px;
}

.paginator-item__link--current {
  background-color: white;
  color: #323232;
}

/*
.feedback-convert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.5);
}

.feedback {
  position: relative;
  width: 480px;
  top: 100px;
  margin-left: auto;
  margin-right: auto;
}

.feedback__text {}

.feedback-form {
  display: flex;
  flex-direction: column;
}

.feedback-form__input {}

.feedback__button {
  text-shadow: none;
}

.feedback__button-close {}
*/
/* Внутренняя страница*/
.breadcrumbs {
  list-style: none;
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.breadcrumbs-item {}

.breadcrumbs-item__link {
  font-weight: 300;
  font-size: 14px;
}

.breadcrumbs-item__link--current {
  text-decoration: none;
}

.inner-page__title {
  font-family: roboto, arial, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: white;
}

.sorting {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.form-sorting {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 875px;
  max-width: 1146px;
}

.fieldset {
  border: none;
}